// Colors
$white: #ffffff !default;
$backgroundColor: #fdfdfd !default;
$black: #000000 !default;
$grey: #ebebeb !default;
$purple:#8960E2 !default;
$purple-grad: linear-gradient(#441E78, #633D8D)!default;
$text-color: #0E0E0E;

// Typography
$main-font: 'HelveticaNeueCyr', 'Arial', 'Helvetica', sans-serif !default;

// Breakpoints
$breackpoint: 800px !default;



